.add {
  padding-top: 5px;
  background-color: rgb(51, 146, 172);
  border: 2px solid black;
  margin-left: 20px;
  font-size: 14px;
  position: absolute;
  border-radius: 3px;
}

.add:hover {
  border: 2px solid rgb(22, 198, 247);
}

.text {
  width: 200px;
  height: 20px;
  font-size: 14px;
}

input {
  border: 2px solid black;
  border-radius: 3px;
}
input:hover {
  border: 2px solid rgb(22, 198, 247);
}

input:focus {
  background-color: azure;
}
